<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><h2 style="color: orange; padding: 0px; float:left; margin: 0%;">H!</h2><h2 style=" text-align:left; padding:  0px; float: inline-start; margin: 0px;" >There.</h2>
        </li>
        <li (click)="onFoodClick()"><a><i class="fa-thin fa-bag-shopping"></i>Food</a>
        </li>
        <li (click)="onElectronicsClick()"><a> <i class="fa-solid fa-headphones"></i> Electronics</a>
        </li>
    </ul>
</div>