.btn-group button {
    background-color: white;
    /* Green background */
    border: 1px  black;
    /* Green border */
    color: black;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: rgb(255, 140, 0);
    color: white;
}

.btn-group1 button {
    background-color: white;
    /* Green background */
    border: 1px solid black;
    /* Green border */
    color: black;
    /* White text */
    padding: 5px 25px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}


td {
    width: 150px;
        
    border-bottom: 0.25pt solid gray;
    padding: 8px;
}
 .td1{
    text-align-last:  right ;
    color: rgb(0, 218, 0);
   
 }
table{
    width: 95%;
}

.btn-danger{
    color: orange;
    background-color: rgba(255, 175, 144, 0.1);
    border: 1px;


}
.btn-danger:hover {
    color: orange;
    background-color:rgba(255, 166, 0, 0.503);

}
