
<div class="row">
    <div class="col-md-2">
        <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10">
    <router-outlet></router-outlet>
    </div>

 
</div>

<nav>
    <ul
        class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
        <li class="page-item"><a class="page-link" ><i class="fa fa-angle-left"></i> Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link"> Next <i class="fa fa-angle-right"></i></a></li>
    </ul>
</nav>
                